kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: ${BOUVIERPREFIX}-allow-same-namespace
  namespace: ${BOUVIERPREFIX}
spec:
  podSelector: {}
  ingress:
  - from:
    - podSelector: {}
  policyTypes:
  - Ingress
