apiVersion: v1
kind: Service
metadata:
  labels:
    app: ${PATTYPREFIX}
    app.kubernetes.io/component: ${PATTYPREFIX}
    app.kubernetes.io/instance: ${PATTYPREFIX}
    app.kubernetes.io/name: ${PATTYPREFIX}
    app.kubernetes.io/part-of: ${PATTYPREFIX}
    app.openshift.io/runtime-version: micro
  name: ${PATTYPREFIX}
spec:
  ports:
  - name: 8080-tcp
    port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app: ${PATTYPREFIX}
    deployment: ${PATTYPREFIX}
