apiVersion: v1
kind: Service
metadata:
  labels:
    app: ${MONPREFIX}
  name: ${MONPREFIX}
spec:
  ports:
  - name: http
    port: 8080
    protocol: TCP
    targetPort: http
  selector:
    app: ${MONPREFIX}
  sessionAffinity: None
  type: ClusterIP