apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ${BURNSPREFIX}

resources:
- namespace.yaml
#- virtualmachine.yaml
#- route.yaml
#- service.yaml
- monty-deployment.yaml
- monty-service.yaml
- monty-route.yaml
- monty-configmap-srv-sh.yaml